/build/resources/main/database.properties
/src/main/resources/database.properties
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/jdbc_util/DatabaseConfigurationUtil.class
/src/main/java/am/aca/generactive/generactiveservlets/gen/jdbc_util/DatabaseConfigurationUtil.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/jdbc_util/DatabaseConnection.class
/src/main/java/am/aca/generactive/generactiveservlets/gen/jdbc_util/DatabaseConnection.java
/build/resources/main/generactive.sql
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/Repository/mapper/GroupResultSetMapper.class
/src/main/java/am/aca/generactive/generactiveservlets/gen/Repository/mapper/GroupResultSetMapper.java
/build/resources/main/hibernate.cfg.xml
/src/main/resources/hibernate.cfg.xml
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/orm/HibernateConfiguration.class
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/HttpConstants.class
/src/main/java/am/aca/generactive/generactiveservlets/servlets/HttpConstants.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/Repository/ItemHibernateRepository.class
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/Repository/ItemJdbcRepository.class
/src/test/java/repotest/ItemJdbcRepositoryTest.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/Repository/mapper/ItemResultSetMapper.class
/src/main/java/am/aca/generactive/generactiveservlets/gen/Repository/mapper/ItemResultSetMapper.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/ItemSearchServlet$1.class
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/ItemSearchServlet.class
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/ItemServlet$1.class
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/ItemServlet.class
/src/main/java/am/aca/generactive/generactiveservlets/servlets/ItemServlet.java
/src/main/java/am/aca/generactive/generactiveservlets/servlets/ItemsServlet.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/servlets/enums/ItemType.class
/src/main/java/am/aca/generactive/generactiveservlets/servlets/enums/ItemType.java
/build/classes/java/main/am/aca/generactive/generactiveservlets/gen/jdbc_util/JDBCutil.class
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
